<ion-header-bar class="bar-positive">
  <h2 class="title">More Info</h2>

</ion-header-bar>
<ion-view>
  <ion-content>
    <ion-list class="list-inset">
      <ion-item class=" item-text-wrap" ng-repeat="profile in listProfile | filter:myFilter">
        <img ng-src="../img/{{profile.Firstname}}.jpg" alt="photo" style="width: 100%;" />
        <h3>{{profile.Firstname}}</h3>
        <h2>{{profile.Lastname}}</h2>

        <p>
          {{profile.Description}}
        </p>
        <button type="button" name="button">Send to </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
