<ion-view view-title="Login" hide-tabs>
    <ion-content style="background-image: url('../img/braveheart.jpg'); width: 100%; ">
        <div class="row">
            <div class="col">
                <form ng-submit="doLogin()">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Username</span>
                            <input type="text" ng-model="loginData.name">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input type="password" ng-model="loginData.password">
                        </label>
                        <label class="item">
                            <button class="button button-block button-positive" ng-click="doLogin()" type="submit">Log in</button>
                        </label>
                        <a href="#/tab/account/new" style="color: white;"><h3>Create your account</h3></a>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <br>
            <br>

            <h1 style="text-align:center; color: white; font-size: 5em;">Brave <br>Heart</h1>
            <br>
            <h4 style="text-align:center; color: white; font-size: 3em;"><em>---Be Wild---</em></h4>

        </div>
    </ion-content>
</ion-view>
