<ion-view view-title="Profile">
	<ion-content class="padding">
		<ion-list>
			<ion-item class="item item-text-wrap">
				<h1>My Profile</h1>
				<img ng-src="../img/{{profile1.Firstname}}.jpg" alt="photo" style="width: 100%;" />
				<ul>
					<li><strong>First name:</strong> {{profile1.Firstname}}</li>
				<li><strong>Last name: </strong>{{profile1.Lastname}}</li>
				<li><strong>My interests:</strong> {{profile1.Interest[0]}}</li>
				<li><strong>E-mail:</strong> {{profile1.Email}}</li>
				<li><strong>My Description:</strong> {{profile1.Description}}</li>

				<strong>	My CapOuPasCap to do:<strong>
					<div class="card " ng-repeat=" item in profile1.Captodo">

						<div class="item item-text-wrap">


					<ul >
					<li><strong>{{item.Capname}}</strong></li>
					<li><strong>{{item.Capdescription}}</strong></li>
					<li><strong>{{item.Cappoints}}</strong></li>

					</ul>
							</div>
				</div>

			</ion-item>
		</ion-list>



			</ion-content>
		</ion-view>
