<ion-view view-title="Profile">
	<ion-content class="has-subheader">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label" ng-model="profile.firstname">First Name</span>
				<input type="text" placeholder="John">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label" ng-model="profile.lastname">Last Name</span>
				<input type="text" placeholder="Suhr">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label" ng-model="profile.interest">Interest</span>
				<input type="text" placeholder="Suhr">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label"ng-model="profile.email">Email</span>
				<input type="text" placeholder="john@suhr.com">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label" ng-model="profile.description">Description</span>
				<textarea placeholder="Description" ng-model="profile.description"></textarea>
			</label>
		</div>
		<button class="button button-full button-positive" ng-click="sendProfile()">
			SUBMIT
		</button>

	</ion-content>
</ion-view>
